.infoCard{
    display: flex;
    flex: 0.25;
    background-color: #ffffff;
    border-radius: 10px;
    align-items: center;
    padding: 10px 5px;
    gap:10px;

   .infoCardIcon{
     border-radius: 50%;
     height: 15vh;
     width: 15vh;
     display: flex;
     justify-content: center;
     align-items: center;

    img{
        height: 50%;
        width: 50%;
        animation: infoCardAnimation 1s;
    }
   }

   .cardValue{
    font-size: 20px;
    font-weight: 700;
   }
   .cardText{
    display: flex;
    font-size: 11px;
    gap:2px;
    justify-content: center;
    align-items: center;
    line-height: 9px;

   }
}

.infoCard>div{
    flex: 1;
    display: flex;
    justify-content: end;
}


@keyframes infoCardAnimation{
    from {height: 40%; width:40%;}
    to {}
  }